@import 'vars';
@import 'mixins';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  background: linear-gradient(#FEFEFE, #F7F4FA);
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.container {
  width: calc(100% - 200px);
}

.title-main {
  font-weight: 700;
  font-size: 37px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 570px;

  &__input {
    border: none;
    border-radius: 34px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    padding-left: 30px;

    height: 67px;
    width: 570px;
  }

  &__btn {
    @include btn(50px, flex);
  }

  &__btn-small {
    @include btn(40px, none)
  }

}

.details {
  opacity: 50%;

  &__title {
    font-size: 19px;
    font-weight: 700;
  }
}

.local {
  margin-top: 6px;
  display: flex;
  position: relative;

  &__icon {
    @include icon-local(url('../icon/local.svg'))
  }

  &__name {
    padding-left: 22px;
    font-size: 14px;
    font-weight: 400;
  }
}


.box-footer {
  background: url('../imgs/box-footer.svg') no-repeat;
  width: 710px;
  height: 626px;

  position: absolute;
  z-index: -1;
}



// Caroulsel Cards

.owl-item.active.center {
  transform: scale(1.1);
  transition: .5s;

  .card {
    background: linear-gradient(154.77deg, #D25AA1 0.83%, #9D60DA 98.22%);
    border-radius: 10px;
    box-shadow: 15px 15px 50px rgba(157, 96, 218, 0.4);
    color: white;

    margin-bottom: 90px ;

    &__divider {
      background: white;
    }

    &__footer {
      background: linear-gradient(95.79deg, #B666BF 0%, #A169DA 100%);
      border-radius: 0px 0px 10px 10px;
      padding: 9px 25px 12px 25px;
      margin-top: 17px;

      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    &__footer__price {
      color: white;
      font-size: 36px;
      font-weight: 700;
    }

  }

  .details {
    opacity: 100%;
  }

  .local__icon {
    @include icon-local(url('../icon/local.svg'))
  }

  .local__icon-white {
    @include icon-local(url('../icon/local-white.svg'))
  }


  .next_icon {
    background: linear-gradient(134.61deg, #FAB674 18.05%, #F09B69 86.11%);
    box-shadow: 4px 4px 10px #8549AE;
    border-radius: 50%;
    cursor: pointer;

    width: 54px;
    height: 54px;
  }

  .next__icon-img {
    background: url('../icon/arrow.svg') no-repeat;

    position: absolute;
    top: 17px;
    left: 21px;

    height: 30px;
    width: 18px;
  }

  .card-address {
    background: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);


    height: 78px;
    width: 329px;

    display: flex;
    align-items: center;

    &__header{
      width: 91px;
    }

  }

  .search__btn-small {
    @include btn(40px, flex)
  }

  .search__icon {
    width: 15px;
  }

}

