@import 'vars';
@import 'mixins';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {

  background: linear-gradient(#FEFEFE, #F7F4FA);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-size: 1.6rem;
}

.container {
  margin: 0 10rem;

  @include for-phone-only {
    margin: 0 .5rem;

  }

  @media (max-width: 900px) {
    margin: 0 1.5rem;

  }
  @media (max-width: 1200px) {
    margin: 0 2rem;

  }

}

.title-main {
  font-weight: 700;
  font-size: 3.7rem;
  margin-bottom: 5.9rem;

  @include for-phone-only {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3.9rem;

  }

}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  &__input {
    border: none;
    border-radius: 3.4rem;
    box-shadow: 0px .4rem 1rem rgba(0, 0, 0, 0.1);

    padding-left: 3rem;

    height: 6.7rem;
    width: 100%;

  }

  &__btn {
    @include btn(5rem, flex);
  }

  &__btn-small {
    @include btn(4rem, none)
  }

}

.details {
  opacity: 50%;

  &__title {
    font-size: 1.9rem;
    font-weight: 700;
  }
}

.local {
  margin-top: .6rem;
  display: flex;
  position: relative;

  &__icon {
    @include icon-local(url('../icon/local.svg'))
  }

  &__name {
    padding-left: 2.2rem;
    font-size: 1.4rem;
    font-weight: 400;
  }
}


.box-footer {
  background: url('../imgs/box-footer.svg') no-repeat;
  width: 71rem;
  height: 61.5rem;

  position: absolute;
  z-index: -1;
}



// Caroulsel Cards

.owl-item.active.center {
  transform: scale(1.1);
  transition: .5s;

  .card {
    background: linear-gradient(154.77deg, #D25AA1 0.83%, #9D60DA 98.22%);
    border-radius: 1rem;
    box-shadow: 1.5rem 1.5rem 5rem rgba(157, 96, 218, 0.4);
    color: white;

    margin-bottom: 9rem ;

    &__divider {
      background: white;
    }

    &__footer {
      background: linear-gradient(95.79deg, #B666BF 0%, #A169DA 100%);
      border-radius: 0px 0px 1rem 1rem;
      padding: .9rem 2.5rem 1.2rem 2.5rem;
      margin-top: 1.7rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
      @media( max-width: 900px) {
        padding: .9rem 1rem 1.2rem 1rem;

      }

    }

    &__footer__price {
      color: white;
      @media( max-width: 900px) {
        font-size: 2.8rem;

      }
    }

  }

  .details {
    opacity: 100%;
  }

  .local__icon {
    @include icon-local(url('../icon/local.svg'))
  }

  .local__icon-white {
    @include icon-local(url('../icon/local-white.svg'))
  }


  .next_icon {
    background: linear-gradient(134.61deg, #FAB674 18.05%, #F09B69 86.11%);
    box-shadow: .4rem .4rem 1rem #8549AE;
    border-radius: 50%;
    cursor: pointer;

    width: 5.4rem;
    height: 5.4rem;

    @media( max-width: 900px) {
      height: 4rem;
      width: 4rem;

    }
  }

  .next__icon-img {
    background: url('../icon/arrow.svg') no-repeat;

    position: absolute;
    top: 1.7rem;
    left: 2.1rem;

    height: 3rem;
    width: 1.8rem;
  }

  .card-address {
    background: white;
    border-radius: 1rem;
    box-shadow: .4rem .4rem 1rem rgba(0, 0, 0, 0.25);


    height: 7.8rem;
    width: 32.9rem;

    display: flex;
    align-items: center;

    &__header{
      width: 91px;
    }

  }

  .search__btn-small {
    @include btn(4rem, flex)
  }

  .search__icon {
    width: 1.5rem;
  }

}

