<owl-carousel-o [options]="customOptions" class="teste">

  <ng-template carouselSlide>
    <div class="card">
      <div class="card__header">
        <figure class="card__header__img">
          <img src="../../../assets/imgs/starbucks-coffee.png" alt="">
        </figure>

      </div>
      <div class="card__divider"></div>
      <div class="card__content">
        <h3 class="card__title details-title">Strategic Planner</h3>

        <p class="card__description">King Digital Entertainment Ltb</p>
        <div class="local">
          <span class="local__icon local__icon-white"></span>
          <p class="local__name">
            Stockholm, Sweden

          </p>
        </div>

      </div>
      <div class="card__footer">
        <p class="card__footer__price">
          $2800
        </p>
        <a class="next_icon">
          <span class="next__icon-img"></span>
        </a>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <div class="card__header">
        <figure class="card__header__img">
          <img src="" alt="">
        </figure>

      </div>
      <div class="card__divider"></div>
      <div class="card__content">
        <h3 class="card__title details-title">Strategic Planner</h3>

        <p class="card__description">King Digital Entertainment Ltb</p>
        <div class="local">
          <span class="local__icon local__icon-white"></span>
          <p class="local__name">
            Stockholm, Sweden

          </p>
        </div>

      </div>
      <div class="card__footer">
        <p class="card__footer__price">
          $2800
        </p>
        <a class="next_icon">
          <span class="next__icon-img"></span>
        </a>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <div class="card__header">
        <figure class="card__header__img">
          <img src="" alt="">
        </figure>

      </div>
      <div class="card__divider"></div>
      <div class="card__content">
        <h3 class="card__title details-title">Strategic Planner</h3>

        <p class="card__description">King Digital Entertainment Ltb</p>
        <div class="local">
          <span class="local__icon local__icon-white"></span>
          <p class="local__name">
            Stockholm, Sweden

          </p>
        </div>

      </div>
      <div class="card__footer">
        <p class="card__footer__price">
          $2800
        </p>
        <a class="next_icon">
          <span class="next__icon-img"></span>
        </a>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <div class="card__header">
        <figure class="card__header__img">
          <img src="" alt="">
        </figure>

      </div>
      <div class="card__divider"></div>
      <div class="card__content">
        <h3 class="card__title details-title">Strategic Planner</h3>

        <p class="card__description">King Digital Entertainment Ltb</p>
        <div class="local">
          <span class="local__icon local__icon-white"></span>
          <p class="local__name">
            Stockholm, Sweden

          </p>
        </div>

      </div>
      <div class="card__footer">
        <p class="card__footer__price">
          $2800
        </p>
        <a class="next_icon">
          <span class="next__icon-img"></span>
        </a>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <div class="card__header">
        <figure class="card__header__img">
          <img src="" alt="">
        </figure>

      </div>
      <div class="card__divider"></div>
      <div class="card__content">
        <h3 class="card__title details-title">Strategic Planner</h3>

        <p class="card__description">King Digital Entertainment Ltb</p>
        <div class="local">
          <span class="local__icon local__icon-white"></span>
          <p class="local__name">
            Stockholm, Sweden

          </p>
        </div>

      </div>
      <div class="card__footer">
        <p class="card__footer__price">
          $2800
        </p>
        <a class="next_icon">
          <span class="next__icon-img"></span>
        </a>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <div class="card__header">
        <figure class="card__header__img">
          <img src="" alt="">
        </figure>

      </div>
      <div class="card__divider"></div>
      <div class="card__content">
        <h3 class="card__title details-title">Strategic Planner</h3>

        <p class="card__description">King Digital Entertainment Ltb</p>
        <div class="local">
          <span class="local__icon local__icon-white"></span>
          <p class="local__name">
            Stockholm, Sweden

          </p>
        </div>

      </div>
      <div class="card__footer">
        <p class="card__footer__price">
          $2800
        </p>
        <a class="next_icon">
          <span class="next__icon-img"></span>
        </a>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <div class="card__header">
        <figure class="card__header__img">
          <img src="" alt="">
        </figure>

      </div>
      <div class="card__divider"></div>
      <div class="card__content">
        <h3 class="card__title details-title">Strategic Planner</h3>

        <p class="card__description">King Digital Entertainment Ltb</p>
        <div class="local">
          <span class="local__icon local__icon-white"></span>
          <p class="local__name">
            Stockholm, Sweden

          </p>
        </div>

      </div>
      <div class="card__footer">
        <p class="card__footer__price">
          $2800
        </p>
        <a class="next_icon">
          <span class="next__icon-img"></span>
        </a>
      </div>

    </div>
  </ng-template>






</owl-carousel-o>

