

.card{
  background: white;
  border-radius: 1rem;
  box-shadow: 4px 4px 2.0rem rgba(167, 105, 207, 0.1);

  margin: 4rem 0;
  min-height: 40.3rem;
  width: 27.0rem;

  &__header {
    height: 175px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    &__img {
      width: 16rem;
      height: 16rem;
    }
  }



  &__divider {
    background: #cccccc;
    text-align: center;
    margin: 2.0rem auto;
    height: 1px;
    width: 23rem;
  }

  &__content{
    padding: 0 2.5rem;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2.7rem;
  }


  &__footer {

    padding: 0 2.5rem;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__price {
      background: linear-gradient(90deg, rgba(204, 90, 165, 0.5) 0%, rgba(167, 105, 207, 0.5) 100%);
      background-clip: text;
      color: transparent;

      font-size: 3.6rem;
      font-weight: 700;
    }
  }

}

.next_icon {
  border: solid 1px #F4A56A;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  position: relative;
}

.next__icon-img {
  background: url('../../../assets/icon/arrow-orange.svg') no-repeat;
  position: absolute;
  top: 1.4rem;
  left: 1.6rem;
  height: 1.5rem;
  width: 1rem;
}





