<owl-carousel-o [options]="customOptions" class="teste">
  <ng-template carouselSlide>
    <div class="card">
      <div class="card__header">
        <figure class="card__header__img">
          <img src="" alt="">
        </figure>

      </div>
      <div class="card__divider"></div>
      <div class="card__content">
        <h3 class="card__title">Strategic Planner</h3>

        <p class="card__description">King Digital Entertainment Ltb</p>
        <div class="card__local">
          <span class="card__icon-local"></span>
          <p class="card__local-name">
            Stockholm, Sweden

          </p>
        </div>

      </div>
      <div class="card__footer">
        <p class="card__footer__price">
          $2800
        </p>
        <a class="next_icon">
          <span class="next__icon-img"></span>
        </a>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <div class="card__header">
        <figure class="card__header__img">
          <img src="" alt="">
        </figure>

      </div>
      <div class="card__divider"></div>
      <div class="card__content">
        <h3 class="card__title">Strategic Planner</h3>

        <p class="card__description">King Digital Entertainment Ltb</p>
        <div class="card__local">
          <span class="card__icon-local"></span>
          <p class="card__local-name">
            Stockholm, Sweden

          </p>
        </div>

      </div>
      <div class="card__footer">
        <p class="card__footer__price">
          $2800
        </p>
        <a class="next_icon">
          <span class="next__icon-img"></span>
        </a>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <div class="card__header">
        <figure class="card__header__img">
          <img src="" alt="">
        </figure>

      </div>
      <div class="card__divider"></div>
      <div class="card__content">
        <h3 class="card__title">Strategic Planner</h3>

        <p class="card__description">King Digital Entertainment Ltb</p>
        <div class="card__local">
          <span class="card__icon-local"></span>
          <p class="card__local-name">
            Stockholm, Sweden

          </p>
        </div>

      </div>
      <div class="card__footer">
        <p class="card__footer__price">
          $2800
        </p>
        <a class="next_icon">
          <span class="next__icon-img"></span>
        </a>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card">
      <div class="card__header">
        <figure class="card__header__img">
          <img src="" alt="">
        </figure>

      </div>
      <div class="card__divider"></div>
      <div class="card__content">
        <h3 class="card__title">Strategic Planner</h3>

        <p class="card__description">King Digital Entertainment Ltb</p>
        <div class="card__local">
          <span class="card__icon-local"></span>
          <p class="card__local-name">
            Stockholm, Sweden

          </p>
        </div>

      </div>
      <div class="card__footer">
        <p class="card__footer__price">
          $2800
        </p>
        <a class="next_icon">
          <span class="next__icon-img"></span>
        </a>
      </div>

    </div>
  </ng-template>





</owl-carousel-o>

