<header class="header">

  <nav class="container nav-bar">
    <div class="header__logo">
      <p>logo</p>
    </div>
    <div class="menu">
      <ul class="menu__nav">
        <li class="menu__item">Home</li>
        <li class="menu__item">How it works?</li>
        <li class="menu__item">Features</li>
        <li class="menu__item">Find Jobs</li>
        <li class="menu__item">Post Jobs</li>
        <li class="menu__item">
          <a href="" class="menu__btn"> Sign in </a>
        </li>
      </ul>
    </div>
  </nav>

</header>
