<header class="header">

  <nav class=" nav-bar container">
    <div class="header__logo">
      <img src="../../../assets/icon/logo-seeker.svg.svg" alt="" class="header__logo-img">
      <p class="header__logo-title">Seeker</p>
    </div>
    <div class="menu">
      <ul class="menu__nav">
        <li class="">
          <a href="" class="menu__item"> Home </a>
        </li>
        <li class="">
          <a href="" class="menu__item"> How it works? </a>
        </li>
        <li class="">
          <a href="" class="menu__item"> Features </a>
        </li>
        <li class="">
          <a href="" class="menu__item"> Find Jobs </a>
        </li>
        <li class="">
          <a href="" class="menu__item"> Post Jobs </a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__btn"> Sign in </a>
        </li>
      </ul>
    </div>
  </nav>

</header>
