<section class="address">
  <owl-carousel-o [options]="customOptions" class="teste">
    <ng-template carouselSlide>
      <div class="teste">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet iste pariatur aperiam ex ad ipsa possimus repellendus quaerat eum ea cumque ipsum, odit, porro aut cupiditate enim in voluptatem eius?</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="teste">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet iste pariatur aperiam ex ad ipsa possimus repellendus quaerat eum ea cumque ipsum, odit, porro aut cupiditate enim in voluptatem eius?</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="teste">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet iste pariatur aperiam ex ad ipsa possimus repellendus quaerat eum ea cumque ipsum, odit, porro aut cupiditate enim in voluptatem eius?</p>
      </div>
    </ng-template>



  </owl-carousel-o>

</section>
