<section class="address">

  <div class="address__content">

    <owl-carousel-o [options]="customOptions" class="">
      <ng-template carouselSlide>
        <div class="card-address">
          <div class="card-address__header">

          </div>
          <div class="details">
            <h4 class="details__title">Human Resouce D</h4>
            <div class="local ">
              <span class="local__icon"></span>
              <p class="local__name">
                Stockholm, Sweden

              </p>
            </div>
          </div>
          <div class="search__btn-small" >
            <span class="search__icon">
              <img src="../../assets/icon/Search.svg" alt="">
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card-address">
          <div class="card-address__header">

          </div>
          <div class="details">
            <h4 class="details__title">Human Resouce D</h4>
            <div class="local ">
              <span class="local__icon"></span>
              <p class="local__name">
                Stockholm, Sweden

              </p>
            </div>
          </div>
          <div class="search__btn-small" >
            <span class="search__icon">
              <img src="../../assets/icon/Search.svg" alt="">
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card-address">
          <div class="card-address__header">

          </div>
          <div class="details">
            <h4 class="details__title">Human Resouce D</h4>
            <div class="local ">
              <span class="local__icon"></span>
              <p class="local__name">
                Stockholm, Sweden

              </p>
            </div>
          </div>
          <div class="search__btn-small" >
            <span class="search__icon">
              <img src="../../assets/icon/Search.svg" alt="">
            </span>
          </div>
        </div>
      </ng-template>

    </owl-carousel-o>

  </div>

</section>
