// colocar margin x e no media tirar ou diminuir

main {
  position: relative;
  display: flex;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }

}

.person {
  background: url("../../assets/imgs/undraw_job_offers_re_634p.svg") no-repeat;
  position: absolute;
  background-size: 73rem;
  height: 592px;
  width: 74rem;
  z-index: 2;
  right: 7.6rem;
  top: 81px;

  @media (max-width: 1300px) {
    right: 16px;
    background-size: 69rem;
    width: 69rem;
  }
  @media (max-width: 1000px) {
    display: none;

  }
}



.content {
  margin-top: 12.4rem;

  @media (max-width: 7000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.content::before {
  content: '';
  background: url("../../assets/imgs/figura.svg") no-repeat;
  position: absolute;
  height: 80rem;
  width: 80rem;
  z-index: -1;
  right: 0;
  top: -101px;

  @media (max-width: 900px) {
    background: url("../../assets/imgs/background-wave.svg") no-repeat;

    width: 100%;
    background-size: 100%;
    top: -100px;
  }

}



.title {
  font-size: 7.4rem;
  margin-bottom: 2.0rem;
  font-weight: 400;
  @media (max-width: 1000px) {
    font-size: 7rem;
  }
  @media (max-width: 600px) {
    font-size: 5rem;
  }
}


.title-en {
  font-weight: 700;
  color: #BD5CB9;


}


.news {
  margin-top: 8rem;
  // width: 32.0rem;


  display: flex;
  align-items: center;

  &__title {
    color: #A260D7;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 2.8rem;
  }

  &__content {
    font-size: 1.4rem;
    line-height: 2.0rem;
    text-decoration: none;
  }
}

.card-section {
  margin-top: 120px;
  height: 61rem;
  position: relative;
}



.content__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5.6rem;

}
.content__description{
  text-align: right;
  line-height: 2.6rem;
}

.content__link {
  margin-top: 3rem;
  color: #F4A56A;
}

.footer {
  display: flex;
  justify-content: end;

  @media (max-width: 900px) {
    justify-content: center;
  }
}

.footer::before {
  content: '';
  background: url('../../assets/imgs/box-footer.svg') no-repeat;

  height: 100%;
  width: 100%;

  position: absolute;
  z-index: -1;
}

.center-teste {
  height: 400px;
  width: 800px;
  // background: #A260D7;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 900px) {
    width: 100%;
  }
}
