main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.box {
  background: url("../../assets/imgs/figura.svg") no-repeat;
  position: absolute;
  height: 800px;
  width: 800px;
  z-index: 0;
  right: 0;
  top: -101px;
}

.person {
  background: url("../../assets/imgs/undraw_job_offers_re_634p.svg") no-repeat;
  background-size: 730px;
  position: absolute;
  height: 592px;
  width: 800px;
  z-index: 2;
  right: 136px;
  top: 81px;
}



.content {
  margin-top: 124px;
}

.title {
  font-size: 74px;
  margin-bottom: 20px;
  font-weight: 400;
}

.title-en {
  font-weight: 700;
  color: #BD5CB9;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 570px;

  &__input {
    border: none;
    border-radius: 34px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    padding-left: 30px;

    height: 67px;
    width: 570px;

  }

  &__btn {
    background: linear-gradient(126.65deg, #FAB574 9.4%, #F09C6A 82.44%);
    border: none;
    border-radius: 50%;
    box-shadow: 6px 6px 10px rgba(244, 165, 106, 0.5);
    cursor: pointer;

    position: absolute;
    right: 13px;


    height: 50px;
    width: 50px;

  }
}


.news {
  margin-top: 80px;
  width: 320px;


  display: flex;
  align-items: center;

  &__title {
    color: #A260D7;
    font-size: 15px;
    font-weight: 700;
    margin-right: 28px;
  }

  &__content {
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
  }
}

.card-section {
  margin-top: 166px;
  height: 610px;
  position: relative;
}

.testeee {
  display: flex;
  justify-content: end;
}

.testee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;

}
.content__description{
  text-align: right;
}

.content__link {
  margin-top: 30px;
  color: #F4A56A;
}
